@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab&display=swap');

.navbar-nav a{
    font-family: 'Roboto Slab', serif;
    font-size: large;
    position: relative;
    
}
.navbar-nav a::first-letter{
    text-transform: uppercase;  
}