.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
        no-repeat;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Spinner.css (or your existing CSS file) */

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Ensure the spinner takes the full width and height of the container */
  .loader-container .spinner {
    width: 10px; /* Adjust the size as needed */
    height: 10px; /* Adjust the size as needed */
  }
  
  